<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top my-3 d-flex justify-content-center">

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "eua-logo.png" %>
      <% end %>
    </div>

    <div class="col-8 flex-grow-1">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sobre", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Loja", root_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-4 align-self-center">
      <div class="row justify-content-center">
        <ul class="navbar-nav me-auto list-group list-group-horizontal justify-content-center p-0">
          <li class="col-2 mx-1 nav-link">
            <%= link_to "", root_path, class: "fa-solid fa-magnifying-glass nav-link" %>
          </li>
          <li class="col-2 mx-1 nav-link">
            <%= link_to "", root_path, class: "fa-solid fa-cart-shopping nav-link" %>
          </li>
          <li class="col-2 mx-1 nav-link">
            <%= link_to "", root_path, class: "fa-regular fa-user nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


<%#
CONFERÊNCIAS
1- SE O MENU FICOU RESPONSIVO
2- LINKS DOS BOTÕES (ENCAMINHA PARA PÁGINA ESPECÍFICA)
%>
